<!DOCTYPE html>
<html lang="ar" dir="rtl">

<head>
  <meta charset="UTF-8">
  <title>{{title}}</title>
  <link rel="stylesheet" href="default_template.css">
</head>

<body>
  <div class="invitation-container">
    <div class="content-wrapper">
      <header class="site-header">
        <div class="company-info">
          <p class="english-name">AL-HAYYAD AL-SAFRI FOR ENVIRONMENTAL SERVICES COMPANY</p>
          <p class="arabic-name">شركة الحياد الصفري للخدمات البيئية</p>
        </div>
        <div class="header-logos">
          <img src="../assets/sedra.png" alt="Sedrah Logo" class="logo-sedrah">
          <img src="../assets/Netzero_Logo.png" alt="NetZero Logo" class="logo-netzero">
        </div>
      </header>

      <div class="document-info">
        <div class="doc-date">التاريخ: {{gregorian_arabic}}</div>
        <div class="doc-date">الموافق: {{hijri_arabic}}</div>
        <div class="doc-id">الرقم : {{document_id}}</div>
      </div>

      <div class="header-text">
        <h2>{{bismillah}}</h2>
        <h3>{{title}}</h3>
      </div>

      <div class="section">
        <p><strong>{{recipient}}</strong></p>
        <p>{{greeting}}</p>
        {{body}}
      </div>
      <div class="header-text">
        <p>{{closing line}}</p>
      </div>
    </div>

    <footer class="site-footer">
    <div class="footer-column footer-arabic">
        <p>المملكة العربية السعودية، الخبر 34412</p>
        <p>س.ت: 2052101838 | البريد الالكتروني: <bdi>inquiry@netzero.sa</bdi></p>
        <p class="socials">
            <bdi>netzero_sa</bdi>
            <img src="../assets/insta.png" alt="Instagram Icon" class="social-icon">
            <img src="../assets/X.png" alt="X Icon" class="social-icon">
        </p>
    </div>

    <div class="footer-column footer-logo">
        <img src="../assets/FSC.png" alt="FSC Logo">
    </div>

    <div class="footer-column footer-english">
        <p>Kingdom of Saudi Arabia, Al Khobar 34412</p>
        <p>CR: 2052101838 | Email: <bdi>inquiry@netzero.sa</bdi></p>
        <p><bdi>www.netzero.sa</bdi></p>
    </div>
</footer>
  </div>
</body>
</html>